In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.ensemble import RandomForestClassifier

In [7]:
filename = 'startup_test.xlsx'
filename1 = 'startup_train.xlsx'
raw = pd.read_excel(filename)
print(raw.shape)
raw.head()

(75, 50)

,ID,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1,1022,NY,40.643438,-73.886452,10013,c:703,New York,NaN,Daylife,...,c:703,0,0,0,1,1,0,1.5,1,NaN
1,2,676,MA,42.599814,-71.367284,1824,c:38721,Chelmsford,Chelmsford MA 1824,Desktone,...,c:38721,1,0,1,1,0,0,3.0,1,NaN
2,3,1074,CA,37.779281,-122.419236,94105,c:79431,San Francisco,San Francisco CA 94105,Pulse,...,c:79431,0,1,1,0,0,0,4.5,1,NaN
3,4,857,CA,37.779281,-122.419236,94107,c:50449,San Francisco,San Francisco CA 94107,Opzi,...,c:50449,0,1,0,0,0,0,5.0,1,NaN
4,5,975,CO,40.011355,-105.274166,80302,c:61783,Boulder,Boulder CO 80302,Standing Cloud,...,c:61783,1,0,1,1,0,0,1.5,1,NaN